<p id="notice"><%= notice %></p>
<h1> Original size - processed</h1>
<%= image_tag @user.avatar if image_tag @user.avatar %>
<br>
<br>
<br>

<h1> Carousel Large size (970x546 with 80% quality - with loseless optimization)</h1>
<%= image_tag @user.avatar.try(:carousel_large) if image_tag @user.avatar.try(:carousel_large) %>

<br>
<br>
<br>

<h1> Carousel Large size (970x546 with 80% quality)</h1>
<%= image_tag @user.avatar.try(:carousel_large_basic) if @user.avatar.try(:carousel_large_basic) %>
<br>
<br>
<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
